<!DOCTYPE html>
<html>
<head>
	<style>
	body {
		font-family: Verdana;
		font-size: 11px;
	}
	
	div {
		padding-bottom: 5px;
		padding-left: 50px;
	}
	p {
		padding-bottom: 5px;
		padding-left: 50px;
	}
	div.paragraph_end {
		margin-bottom: 10px;
	}
	li {
		padding-bottom: 5px;
		margin-left: 5px;
	}
	</style>
</head>
	
<body>
<b>1. GENERAL INFORMATION</b>
	<p>
		Name:<span style='color:red;'>&nbsp;<!--NAME-START--><!--NAME-END--></span>
		<div>Address:<span style='color:red;'>&nbsp;<!--ADDRESS-START--><!--ADDRESS-END--></span></div>
		<div><i>Telephone</i></div>
		<ul style="padding-left: 50px;" type="circle">
			<li>Home:<span style='color:red;'>&nbsp;<!--HOME-START--><!--HOME-END--></span></li>
			<li>Mobile:<span style='color:red;'>&nbsp;<!--MOBILE-START--><!--MOBILE-END--></span></li>
		</ul>
		<div>Email:<span style='color:red;'>&nbsp;<!--EMAIL-START--><!--EMAIL-END--></span></div>
		<div class="paragraph_end"></div>
	</p>
<b>2. PROFESSIONAL PROFILE</b>
	<p>
		<!--PROFFESIONAL-PROFILE-START-->
		...
		<!--PROFFESIONAL-PROFILE-END-->
		<div class="paragraph_end"></div>
	</p>
<b>3. CORE STRENGTHS</b>
	<p>
		<!--CORE-STRENGTHS-START-->
		...
		<!--CORE-STRENGTHS-END-->
		<div class="paragraph_end"></div>
	</p>
<b>4. PROFESSIONAL EXPERIENCE</b>
	<!--PROFESSIONAL-EXPERIENCE-START-->
	<ul style="padding-left: 25px;">
		<!--EXPERIENCE-START-->
		<li>Company Name, Job Title, Date</li>
		<!--EXPERIENCE-END-->
		<ul style="padding-left: 25px;" type="circle">
			<!--EXPERIENCE-PARAGRAPH-START-->
			<li>Paragraph of responsibilities</li>
			<!--EXPERIENCE-PARAGRAPH-END-->
			<li>List of achievements</li>
			<ul style="padding-left: 25px;" type="square">
				<!--EXPERIENCE-ACHIEVEMENTS-START-->
				<li>Achievement X</li>
				<li>Achievement Y</li>
				<li>...</li>
				<!--EXPERIENCE-ACHIEVEMENTS-END-->
			</ul>
		</ul>
	</ul>
	<ul style="padding-left: 25px;">
		<!--EXPERIENCE-START-->
		<li>Company Name, Job Title, Date</li>
		<!--EXPERIENCE-END-->
		<ul style="padding-left: 25px;" type="circle">
			<!--EXPERIENCE-PARAGRAPH-START-->
			<li>Paragraph of responsibilities</li>
			<!--EXPERIENCE-PARAGRAPH-END-->
			<li>List of achievements</li>
			<ul style="padding-left: 25px;" type="square">
				<!--EXPERIENCE-ACHIEVEMENTS-START-->
				<li>Achievement X</li>
				<li>Achievement Y</li>
				<li>...</li>
				<!--EXPERIENCE-ACHIEVEMENTS-END-->
			</ul>
		</ul>
	</ul>
	<ul style="padding-left: 25px;">
		<li>...</li>
	</ul>
	<!--PROFESSIONAL-EXPERIENCE-END-->
	<div class="paragraph_end"></div>
<b>5. EDUCATION AND TRAINING</b>
	<ul style="padding-left: 25px;">
		<!--EDUCATION-AND-TRAINING-START-->
		<li>Qualification, Establishment, Location, Date</li>
		<li>Qualification, Establishment, Location, Date</li>
		<li>...</li>
		<!--EDUCATION-AND-TRAINING-END-->
	</ul>
	<div class="paragraph_end"></div>
<b>6. FURTHER COURSES</b>
	<ul style="padding-left: 25px;">
		<!--FURTHER-COURSES-START-->
		<li>Course, Establishment, Location, Date</li>
		<li>Course, Establishment, Location, Date</li>
		<li>...</li>
		<!--FURTHER-COURSES-END-->
	</ul>
	<div class="paragraph_end"></div>
<b>7. ADDITIONAL INFORMATION</b>
	<p>
		<!--ADDITIONAL-INFORMATION-START-->
		...
		<!--ADDITIONAL-INFORMATION-END-->
		<div class="paragraph_end"></div>
	</p>
<b>8. INTERESTS</b>
	<p>
		<!--INTERESTS-START-->
		...
		<!--INTERESTS-END-->
		<div class="paragraph_end"></div>
	</p>

</body>
</html>