<!DOCTYPE html>
<html>
<head>
	<style>
	body {
		font-family: Verdana;
		font-size: 11px;
	}
	
	div {
		padding-bottom: 5px;
		padding-left: 50px;
	}
	p {
		padding-bottom: 5px;
		padding-left: 50px;
	}
	div.paragraph_end {
		margin-bottom: 10px;
	}
	li {
		padding-bottom: 5px;
		margin-left: 5px;
	}
	</style>
</head>
	
<body>
<b>1. GENERAL INFORMATION</b>
	<p>
		Name:<span style='color:red;'>&nbsp;<!--NAME-START--><!--NAME-END--></span>
		<div>Address:<span style='color:red;'>&nbsp;<!--ADDRESS-START--><!--ADDRESS-END--></span></div>
		<div><i>Telephone</i></div>
		<ul style="padding-left: 50px;" type="circle">
			<li>Home:<span style='color:red;'>&nbsp;<!--HOME-START--><!--HOME-END--></span></li>
			<li>Mobile:<span style='color:red;'>&nbsp;<!--MOBILE-START--><!--MOBILE-END--></span></li>
		</ul>
		<div>Email:<span style='color:red;'>&nbsp;<!--EMAIL-START--><!--EMAIL-END--></span></div>
		<div class="paragraph_end"></div>
	</p>
<b>2. PROFESSIONAL PROFILE</b>
	<p>
		<!--PROFFESIONAL-PROFILE-START-->
		...
		<!--PROFFESIONAL-PROFILE-END-->
		<div class="paragraph_end"></div>
	</p>
<b>3. SKILLS AND EXPERIENCE</b>
	<p>
		<!--SKILLS-AND-EXPERIENCE-START-->
		<!--SKILL-START-->
		<b>3.1. SKILLS AND EXPERIENCE ON &lt;X&gt;</b>
		<!--SKILL-END-->
			<ul style="padding-left: 50px;">
				<!--SKILL-DETAILS-START-->
				<li>...</li>
				<!--SKILL-DETAILS-END-->
			</ul>
		<!--SKILL-START-->
		<div><b>3.2. SKILLS AND EXPERIENCE ON &lt;Y&gt;</b></div>
		<!--SKILL-END-->
			<ul style="padding-left: 50px;">
				<!--SKILL-DETAILS-START-->
				<li>...</li>
				<!--SKILL-DETAILS-END-->
			</ul>
		<!--SKILL-START-->
		<div><b>3.3. SKILLS AND EXPERIENCE ON &lt;Z&gt;</b></div>
		<!--SKILL-END-->
			<ul style="padding-left: 50px;">
				<!--SKILL-DETAILS-START-->
				<li>...</li>
				<!--SKILL-DETAILS-END-->
			</ul>
		<!--SKILLS-AND-EXPERIENCE-END-->
		<div class="paragraph_end"></div>
	</p>
<b>4. CAREER SUMMARY</b>
	<ul style="padding-left: 25px; margin-bottom: 30px;">
		<!--CAREER-SUMMARY-START-->
		<li>Company Name, Job Title, Date</li>
		<li>Company Name, Job Title, Date</li>
		<li>...</li>
		<!--CAREER-SUMMARY-END-->
	</ul>
<b>5. EDUCATION AND TRAINING</b>
	<ul style="padding-left: 25px;">
		<!--EDUCATION-AND-TRAINING-START-->
		<li>Qualification, Establishment, Location, Date</li>
		<li>Qualification, Establishment, Location, Date</li>
		<li>...</li>
		<!--EDUCATION-AND-TRAINING-END-->
	</ul>
	<div class="paragraph_end"></div>
<b>6. FURTHER COURSES</b>
	<ul style="padding-left: 25px;">
		<!--FURTHER-COURSES-START-->
		<li>Course, Establishment, Location, Date</li>
		<li>Course, Establishment, Location, Date</li>
		<li>...</li>
		<!--FURTHER-COURSES-END-->
	</ul>
	<div class="paragraph_end"></div>
<b>7. ADDITIONAL INFORMATION</b>
	<p>
		<!--ADDITIONAL-INFORMATION-START-->
		...
		<!--ADDITIONAL-INFORMATION-END-->
		<div class="paragraph_end"></div>
	</p>
<b>8. INTERESTS</b>
	<p>
		<!--INTERESTS-START-->
		...
		<!--INTERESTS-END-->
		<div class="paragraph_end"></div>
	</p>

</body>
</html>